name: Nightly Release

permissions:
  id-token: write
  contents: write
  packages: write

on:
  push:
    branches:
      - main

jobs:
  delete_tag:
    runs-on: ubuntu-latest
    steps:
      - name: Delete release
        uses: smartsquaregmbh/delete-old-packages@v0.7.0
        with:
          organization: hmmachadocx
          type: npm
          names: |
            fork-ast-cli-javascript-wrapper
