name: Javascript Wrapper Release

on:
  workflow_call:
    inputs:
      cliTag:
        description: 'CLI tag name'
        required: false
        type: string
        default: 2.0.0-nightly
      dev:
        description: 'Is dev build'
        required: false
        default: true
        type: boolean
  workflow_dispatch:
    inputs:
      cliTag:
        description: 'CLI tag name'
        required: false
      dev:
        description: 'Is dev build'
        required: false
        default: true
        type: boolean

permissions:
  id-token: write
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: echo ${{ inputs.cliTag }}
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - uses: actions/setup-node@v3.6.0
        with:
          node-version: 10
          registry-url: https://npm.pkg.github.com/
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - name: Update tag version RELEASE
        if: inputs.dev == false
        run: npm version patch
        env:
          NODE_AUTH_TOKEN: ${{secrets.PERSONAL_ACCESS_TOKEN}}
      - name: Update tag version DEV
        if: inputs.dev == true
        run: npm version prerelease --preid=nightly --no-git-tag-version
        env:
          NODE_AUTH_TOKEN: ${{secrets.PERSONAL_ACCESS_TOKEN}}
      - name: Download cli with tag ${{ inputs.cliTag }}
        if: inputs.dev == true
        run: |
          # Update binaries
          chmod +x ./.github/scripts/update_cli.sh
          ./.github/scripts/update_cli.sh ${{ inputs.cliTag }}
      - run: npm ci
      - name: npm build
        run: npm run build
      - run: git push && git push --tags
      - name: Publish RELEASE
        if: inputs.dev == false
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.PERSONAL_ACCESS_TOKEN}}
      - name: Publish DEV
        if: inputs.dev == true
        run: npm publish --tag=nightly
        env:
          NODE_AUTH_TOKEN: ${{secrets.PERSONAL_ACCESS_TOKEN}}      
      
